.top-navbar {
    position: fixed;
    top: -4%;
    width: 150%;
    height: 12%;
    left: 0%;
    border-radius: 30%;
    background-color: darkgreen;
    z-index: 1;
}

.title {
    color: white;
    padding-right: 2%;
    top: 1.5%;
    margin-top: auto;
    right: 5%;
    display: grid;
    position: fixed;
    z-index: 3;
}

.top-navbar-container {
    background-color: brown;
    height: 12%;
}
